*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: azure;
}

.debugButtonsWrapper {
    display:flex;
    flex-direction: row;
}

.formAllWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}


.formBeforeWrapper, .formAfterWrapper, .formViewWrapper{
margin:10px
}

.formViewWrapper{
    min-width: 400px;
}

.formButtonWrapper{
    display:flex;
    align-items: center;
    height:435px;
}

textarea {
    resize: none;
}

button{
    display:flex;
    max-height: 40px;
    margin:5px;
}